<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="Zen Mobile"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZenMobile"
        android:networkSecurityConfig="@xml/network_security_config"
        android:fullBackupContent="false">

        <meta-data
            android:name="android.author"
            android:value="qhgary &lt;qhgary@sina.com&gt;" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
